body{
    background-color: #efefef;
  }

  h1{
    text-align: center;
  }
  
  header, .alert{
    z-index: 100;
  }
  .description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
  }
  .description:hover{
    height: 80px;
  }
 .carta{

    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
 }

 .carta:hover{
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0.1rem 0.4rem rgba(0,0, 0, 0.3);
  

 }
  
  .table__productos{
    display: flex;
  }
  .table__productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
  }
  .table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .hide, .remove{
    display: none;
  }